<!DOCTYPE html>
<html id="{% block body_id %}{% endblock %}" lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<title>
			{% block header_title %}{% endblock %}
			| To Do List app
		</title>


	</head>

	<body class="{% block body_class %}{% endblock %}"></body>


	{% block head %}
		<head>
			{% include "_nav.html.twig" %}
		</head>
	{% endblock %}

	{% for flash_message in app.session.flashBag.get('success') %}
		<div class="alert alert-success" role="alert">
			<strong>Superbe !</strong>
			{{ flash_message }}
		</div>
	{% endfor %}

	{% for flash_message in app.session.flashBag.get('error') %}
		<div class="alert alert-danger" role="alert">
			<strong>Oops !</strong>
			{{ flash_message }}
		</div>
	{% endfor %}

	{% block content %}{% endblock %}

	{% block copyright %}
		<div class="container">
			<p class="mt-5 mb-3 text-muted">Copyright &copy; OpenClassrooms</p>
		</div>
	{% endblock %}


</html></body></html>
