{% extends 'base.html.twig' %}

{% block content %}

	<div class="container">
		<h1>Modifier
			<strong>{{ user.username }}</strong>
		</h1>

		<div class="row">
			{{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
			{{ form_widget(form) }}

			<button type="submit" class="btn btn-success pull-right">Modifier</button>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}
